@use "../global/variables";

.faq {
  background-color: $bg-additional-color;
  padding-top: 71px;
  padding-bottom: 90px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.faq__title {
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    text-align: start;
  }
}

.faq__accordion {
  @media (min-width: $desktop-width) {
    display: flex;
    align-content: flex-start;
    gap: 10px 40px;
  }
}

.faq__tab-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px 9px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(1, 1fr);
    align-content: start;
    gap: 10px;
    margin-bottom: 0;
  }
}

.faq__tab-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  min-width: 140px;
  min-height: 46px;
  padding: 5px 20px;
  transition: color 0.3s ease-in, border 0.3s ease;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
  }

  &:hover {
    border: 1px solid $primary-dark-color;
    color: $primary-dark-color;

    &::before {
      opacity: 0;
    }
  }

  &:focus-visible {
    background-color: $primary-white-color;
    color: $primary-dark-color;
    border: 1px solid $primary-dark-color;
    outline: 1px solid transparent;

    &::before {
      opacity: 0;
    }
  }

  &:active {
    color: $primary-white-color;
    border: 1px solid transparent;

    &::before {
      opacity: 1;
    }
  }

  &:disabled {
    color: #c8c9cc;
    border: 1px solid rgba(16, 38, 84, 0.2);
    pointer-events: none;
    cursor: none;

    &::before {
      opacity: 0;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    min-width: 162px;
    min-height: 54px;
    padding: 10px;
  }

  @media (min-width: $desktop-width) {
    min-width: 260px;
  }
}

.faq__tab-button--active {
  color: $primary-white-color;
  border: 1px solid transparent;

  &::before {
    opacity: 1;
  }
}

.faq__details-lists-container {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.faq__details-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding-right: 35px;
    cursor: pointer;
    margin-bottom: 41px;
    transition: padding-bottom 0.5s ease;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  li:has(.faq__details-list-marker--active) h3 {
    margin-bottom: 20px;
  }

  li:nth-of-type(1) p br {
    display: none;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    transition: margin-bottom 0.5s ease;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: height 0.5s ease;
  }

  li:first-child::before {
    position: absolute;
    top: -21px;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #74819c;
  }

  li::after {
    position: absolute;
    bottom: -21px;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #74819c;
  }

  @media (min-width: $tablet-width) {
    li {
      padding-right: 45px;
    }

    br {
      display: none;
    }

    h3 {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 19px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      width: 560px;
    }

    li:nth-of-type(1) {
      margin-bottom: 55px;
    }

    li:nth-of-type(2) {
      margin-bottom: 48px;
    }

    li:nth-of-type(3) {
      margin-bottom: 38px;
    }

    li:nth-of-type(4) h3 {
      width: 500px;
    }

    li:has(.faq__details-list-marker--active) h3 {
      margin-bottom: 18px;
    }

    li:first-child::before {
      top: -34px;
    }

    li:nth-of-type(1)::after {
      bottom: -24px;
    }

    li:nth-of-type(2)::after {
      bottom: -15px;
    }

    li:nth-of-type(3)::after {
      bottom: -13px;
    }

    li:nth-of-type(4)::after {
      bottom: -3px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;

    h3 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 31px;
    }

    p {
      width: 660px;

      br {
        display: block;
      }
    }

    li:has(.faq__details-list-marker--active) h3 {
      margin-bottom: 31px;
    }

    li:nth-of-type(1) {
      margin-bottom: 54px;
    }

    li:nth-of-type(2) {
      margin-bottom: 31px;
    }

    li:nth-of-type(3) {
      margin-bottom: 31px;
    }

    li:nth-of-type(4) h3 {
      width: 660px;
    }

    li:last-of-type {
      margin-bottom: 0;
    }

    li:nth-of-type(1) p br {
      display: block;
    }

    li:first-child::before {
      top: -32px;
    }

    li:nth-of-type(1)::after {
      bottom: -23px;
    }

    li:nth-of-type(2)::after,
    li:nth-of-type(3)::after {
      bottom: 1px;
    }

    li:nth-of-type(4)::after {
      bottom: -1px;
    }
  }
}

.faq__details-list--active {
  display: block;
}

.faq__details-list-marker-container {
  position: absolute;
  right: 0;
}

.faq__details-list li:nth-of-type(1) .faq__details-list-marker-container,
.faq__details-list li:nth-of-type(2) .faq__details-list-marker-container {
  top: 4px;

  @media (min-width: $tablet-width) {
    top: -9px;
  }
}

.faq__details-list li:nth-of-type(3) .faq__details-list-marker-container {
  top: 14px;

  @media (min-width: $tablet-width) {
    top: -10px;
  }
}

.faq__details-list li:nth-of-type(4) .faq__details-list-marker-container {
  top: 14px;

  @media (min-width: $tablet-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    top: -7px;
  }
}

.faq__details-list-marker {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $primary-dark-blue-color;
  border-radius: 100%;
  transition: background-color 0.5s ease;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 14px;
    height: 1px;
    background-color: $primary-dark-blue-color;
    transition: background-color 0.5s ease;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 1px;
    height: 14px;
    background-color: $primary-dark-blue-color;
    transition: transform 0.7s ease, background-color 0.5s ease;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;

    &::before {
      width: 20px;
    }

    &::after {
      height: 20px;
    }
  }
}

.faq__details-list-marker--active {
  background-color: $primary-dark-blue-color;

  &::before,
  &::after {
    background-color: $primary-white-color;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.faq__details-list-marker--disbaled {
  opacity: 0.3;
}

/* Состояния вкладок аккордиона */


.faq__details-list li:focus-visible {
  outline: 1px solid transparent;
}

.faq__details-list li:hover .faq__details-list-marker {
  background-color: $primary-dark-blue-color;

  &::before,
  &::after {
    background-color: $primary-white-color;
  }
}

.faq__details-list li:focus-visible .faq__details-list-marker {
  background-color: #74819c;
  outline: 1px solid transparent;

  &::before,
  &::after {
    background-color: $primary-white-color;
  }
}

.faq__details-list li:has(.faq__details-list-marker--disbaled) {
  pointer-events: none;
  cursor: none;
}
