@use "../global/variables.scss";

.form-contacts-gradient {
  @media (min-width: $desktop-width) {
    position: relative;
    background-image: linear-gradient(to right, #102654 0%, #102654 50%, #102654 50%, #ffffff 50%, #ffffff 100%);
    padding-left: $tablet-padding-x;
    padding-right: $tablet-padding-x;
    overflow: hidden;

    &::before {
      position: absolute;
      left: 50%;
      content: "";
      height: 1px;
      width: 50%;
      background-color: #74819c;
    }
  }
}
