@use "../global/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__phone-link {
  position: relative;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: $primary-white-color;
  text-decoration: none;
  transition: color 0.5s ease;

  &::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: background 0.5s ease-in-out;
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus-visible {
    color: $primary-dark-blue-color;
    outline: 1px solid transparent;
  }

  &:active {
    color: $primary-dark-color;
    outline: 1px solid transparent;

    &::after {
      background-color: $primary-dark-color;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.header__phone-link--disabled {
  color: $bg-additional-color;
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}
