@use "../global/variables";

.offers {
  padding-top: 41px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.offers__title {
  text-align: center;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.offers__preview-container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 40px;
  }
}

.offers__preview {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    margin-bottom: 0;
  }

  @media (max-width: $pre-tablet-width) {
    display: contents;
  }
}

.offers__card {
  background-color: $bg-banners-color;
  color: $primary-white-color;
  text-align: center;
  word-wrap: break-word;
  padding-top: 30px;
  padding-bottom: 36px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 9px;
  }

  span {
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    margin: 0;
  }

  p:first-of-type {
    margin-bottom: 28px;
  }

  p:last-of-type {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    text-align: start;
    width: 278px;
    padding-top: 40px;
    padding-bottom: 47px;
    padding-left: 25px;
    padding-right: 25px;

    div {
      align-items: flex-start;
      height: 100%;
    }

    h3 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    span {
      font-size: 70px;
      line-height: 70px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }

    p:first-of-type {
      margin-bottom: 40px;
    }

    p:last-of-type {
      margin-bottom: auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    padding-left: 45px;
    padding-bottom: 41px;

    div {
      height: 99%;
    }

    h3 {
      font-size: 26px;
      line-height: 26px;
    }
  }

  @media (max-width: $pre-tablet-width) {
    div {
      margin: 0 auto;
      min-width: $phone-width;
      max-width: $phone-width;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.offers__image-container {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.offers__image {
  display: block;
}

.offers__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
  border: 7px solid transparent;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%) 1;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    gap: 10px;
    min-height: 188px;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-height: 174px;
    width: 560px;
  }

  h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
  }

  p {
    text-align: center;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    h3 {
      font-size: 26px;
      line-height: 26px;
    }

    p {
      text-align: start;
      margin-bottom: auto;
    }
  }
}
