@use "../global/variables";

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.social-list__link {
  --social-icon: 0;
  --social-size: 0;
  --social-position: center;

  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: $primary-white-color;
  transition: background-color 0.5s ease;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 100%;
    height: 100%;
    mask-image: var(--social-icon);
    mask-size: var(--social-size);
    mask-position: var(--social-position);
    mask-repeat: no-repeat;
    background-color: $bg-footer-black-color;
    transition: background-color 0.5s ease;
  }

  &:hover {
    background-color: #74819c;

    &::after {
      background-color: $primary-white-color;
    }
  }

  &:focus-visible {
    background-color: $primary-dark-blue-color;
    outline: 1px solid transparent;

    &::after {
      background-color: $primary-white-color;
    }
  }

  &:active {
    background-color: $primary-dark-color;

    &::after {
      background-color: $primary-white-color;
    }
  }
}

.social-list__link--vk {
  --social-icon: url("/__spritemap#sprite-vk-view");
  --social-size: 12.04px 6.94px;

  @media (min-width: $desktop-width) {
    --social-size: 12.04px 6.94px;
  }
}

.social-list__link--classmates {
  --social-icon: url("/__spritemap#sprite-classmates-view");
  --social-size: 8.83px 15.73px;

  @media (min-width: $desktop-width) {
    --social-size: 9.83px 16.73px;
  }
}

.social-list__link--reddit {
  --social-icon: url("/__spritemap#sprite-reddit-view");
  --social-size: 13.89px 13.89px;

  @media (min-width: $desktop-width) {
    --social-size: 14.89px 14.8px;
  }
}

.social-list__link--disabled {
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  cursor: none;
}
